aiofiles==24.1.0
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
async-timeout==5.0.1
attrs==26.1.0
choicelib==0.1.5
colorama==0.4.6
frozenlist==1.8.0
idna==3.16
msgspec==0.21.1
multidict==6.7.1
propcache==0.5.2
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.2
typing-inspection==0.4.2
typing_extensions==4.15.0
vbml==1.1.post1
vkbottle==4.8.2
vkbottle-types==5.199.99.20
yarl==1.24.2
